html{
    margin: 0;
}

body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Baloo Bhai', cursive;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.headerContainer{
    width: 100%;
    height: 70vh;
}

.playerContainer{   
    background-color: rgb(100,160,189);
    width: 50%;
    height:70vh;
    margin: 0;
    padding: 0;
    display: inline-flex;
    justify-content: center;
    float: left;
    align-items: flex-start;
}

.computerContainer{ 
    background-color: rgb(137,172,189);
    width: 50%;
    height:70vh;
    margin: 0;
    padding: 0; 
    display: inline-flex;
    justify-content: center;
    float: left;
    align-items: flex-start;
} 

.secondContainer{
    display: block;
}

.Icon{
    padding: 0;
    height: 15vh;
    width: auto;
    text-align: center;
    justify-content: center;
}

h1{
    font-size: 4vh;
    color: white;
    text-align: center;
    margin: 0px;
    text-shadow: 2px 2px 4px #000000;
}

.totalScore{
    font-size: 6vh;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
    padding: 0px;
}

.imageContainer {
    display: flex;
    justify-content: center;
    margin-top: 3vh;
    margin-bottom: 3vh;
  }

.dice{
    height: 10vh;
    width: auto;
    
}

.redButton{
    color:black;
    background-color: #ff8080;
    text-align: center;
    margin: 15px 0px;
    margin-bottom: 5vh;
    padding: 9px;
    padding-bottom: 0px;
    border: none;
    border-radius: 7px;
    font-size: 3vh;
}

.roundScore{
    margin: 5px 0px;
}

.bottomContainer{
    width:100%;
    height: 27vh;
    background-color: #276583;
    overflow: hidden; 
}

.rollAgainContainer{
    background-color: #276583;
    width:100%;
    height: 50%;
    display: flex;
    justify-content: center;
}

 .holdContainer{
    height: 50%;
    display: flex;
    background-color: #276583;
    width:100%;
    justify-content: center;
 }

.buttonOptions{
    background-color:white;
    color:#276583;
    font-size: 1rem;
    width: 5rem;
    height: 2rem;
    border-radius: 7px;
    text-align: center;
    margin-top: 4vh;
    box-shadow: 2px 2px 4px #000000;
    padding-top: 7px;
    transition: 0.5s;
}

.playAgainButton{
    padding: 0px 10px 7px 10px;
    display: inline;
}

.playAgainButtonStyle{
    font-size: 5vh;
}

.rollAgainIcon{
    width: auto;
    height: 10vh;
    padding: 2vh;
}


.handIcon{
    padding: 2vh 3vh 2vh 3vh;
    width: auto;
    height: 8vh;
}

.questionIcon{
    width: auto;
    height: 5vh;
    float: left;
    padding: 0;
    position: absolute;
    left: 3%;
    bottom: 5%;
} 

.questionIcon:hover{
    cursor: pointer;
}

#playAgainContainer{
    display: none;
    width:100%;
    height: 27vh;
    background-color: #276583;
    color: white;
    overflow: hidden; 
    text-align: center;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 5vh; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  
  .modal-content {
    background-color: rgb(100,160,189);
    border-radius: 7px;
    margin: auto;
    padding: 20px;
    border: 1px solid #000;
    width: 70%;
  }

    p {
    text-align: center;
    }

    ul{
        list-style-position: inside;
    }

  #pigRules{
      text-align:center;
      color: #ff8080;
      text-shadow: 1px 1px 2px red;
  }

  #ulContainer{
    
    border-left: 11px solid #ff8080;
    background-color: lightgrey;
    border-radius: 0 10px 10px 0;
  }
 
  .close {
    color: black;
    float: right;
    font-size: 38px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #ff8080;
    text-decoration: none;
    cursor: pointer;
  }

#winLose{
    margin: 3vh 0 3vh 0;
    font-size: 4.5vh;
}

.playAgain{
  justify-content: center;
  align-self: center;
}

.signature{
    width: 100%;
    height: 3vh;
    background-color: black;
}

.paige{
    color: white;
    font-size: 1.5vh;
    padding-top: 0.5vh;
    padding-left: 1vw;
}

@media screen and (min-width:765px){
    .rollAgainContainer{
        display: inline-flex;
        float: left;
        align-items: center;
        width: 50vw;
        height: 27vh;
    }
    .holdContainer{
        display: inline-flex;
        float: left;
        align-items: center;
        width: 50vw;
        height: 27vh;
    }
    .rollAgainIcon{
        width: auto;
        height: 17vh;
        padding:0;
    }
    .handIcon{
        width: auto;
        height: 12vh;
    }
    .buttonOptions{
        width: 10rem;
        height: 3.5rem;
        padding-top: 11px;
        font-size: 2rem;
    }
    .playAgainButtonStyle{
        font-size: 6vh;
    }
    .questionIcon{
        top: 5%;
    }
}

@media screen and (min-width: 1025px){
    .buttonOptions:hover{
        background-color:#276583;
        color: white;
        cursor: pointer;
    }
}



